body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;

}

button:hover {
    background-color: #45a049;
}

#bagreg {
    background-color: #fcec05;
    color: black;
    cursor: pointer;
}
#bagreg:hover {
    background-color: #a9940e
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}